@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala&display=swap');

body {
  font-size: 100%;
  background: linear-gradient(75deg, #70b2db 16.62%, #c88ec8 85.61%);
  background-attachment: fixed;
  font-family: 'Sarala', sans-serif;
  
}

#JDV-header {
  padding-top: 100px;
  padding-bottom: 30px;
  font-family: 'Righteous', cursive;
  font-size: 62px;
}

.JDV {
  display: flex;
  justify-content: center;
  font-size: 42px;
}

.JDV-main {
  padding-top: 30px;
  padding-bottom: 30px;
}

.espaço {
  width: 120px;
  height: 120px;
  font-size: 50px;
  font-weight: bold;
  border-radius: 2px;
  background: none;
}

.espaço:hover {
  background-color: #ffffff3c;
}

#JDV-reiniciar {
  margin-top: 30px;
  width: 50px;
  height: 50px;
  border-radius: 90px;
  border: white solid 2px;
  font-size: 25px;
  font-weight:bold;
}

#JDV-Espaços-Linha01 {
  display: flex;
  flex-direction: row;
}

#JDV-Espaços-Linha02 {
  display: flex;
  flex-direction: row;
}

#JDV-Espaços-Linha03 {
  display: flex;
  flex-direction: row;
}

#JDV-jogador {
  padding-top: 30px;
  padding-bottom: 20px;
  border-bottom: 2.5px solid #FFF2E7;
  display: flex;
  justify-content: center;
}

#JDV-jogador-resultado {
  display: flex;
  justify-content: center;
  font-size: 46px;
  font-weight: bold;
  padding-top: 30px;
  color: rgba(255, 0, 0, 0.525);
}

#rodape {
  padding-top: 20px;
  display: flex;
  justify-content: center;
  color: white;
}

/* Desenho do jogo da Velha */

#espaço1 {
  border-top: transparent;
  border-left: transparent;
}

#espaço2 {
  border-top: transparent;
}

#espaço3 {
  border-top: transparent;
  border-right: transparent;
}

#espaço4 {
  border-left: transparent;
}

#espaço6 {
  border-right: transparent;
}

#espaço7 {
  border-left: transparent;
  border-bottom: transparent;
}

#espaço8 {
  border-bottom: transparent;
}

#espaço9 {
  border-right: transparent;
  border-bottom: transparent;
}